.comment-form {
  margin: 0 0 3rem 0;
}

.comment-form form {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

.comment-form form textarea {
  margin: 0 0 1rem 0;
  height: 5rem;
  padding: 1rem;
}

.comment-form form input {
  cursor: pointer;
}

.comment-form .error {
  border: 1px solid #dc2626;
  background-color: #fca5a5;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-weight: 600;
}
