.review h1 {
  font-size: 3rem;
  color: #1e293b;
  font-weight: 700;
  margin: 0;
}

.review h3 {
  text-decoration: none;
  color: #475569;
}

.review img {
  width: 100%;
  border-radius: 6px;
}

.review p {
  color: #1e293b;
  line-height: 2rem;
}

.review .meta p span {
  color: #1e293b;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-footer .votes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-footer .votes span {
  font-weight: 700;
  color: #1e293b;
  font-size: 2rem;
}

.review-footer .votes svg {
  cursor: pointer;
}

.review-footer .votes .downvote:hover,
.review-footer .votes .downvote.active {
  fill: red;
}

.review-footer .votes .upvote:hover,
.review-footer .votes .upvote.active {
  fill: rgb(14, 175, 14);
}
